/* Instructions */
/* When clicked, the selected card should enlarge (up to you how much) and the price should have a color of #ffd60a*/
/* The non-selected cards should reduce in opacity */
/* Stretch goal: add a toggle to display monthly and annual prices */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    text-align: center;
    background: rgb(255,250,240);
}


/*=================
 Heading & Tagline
==================*/
.main-textbox {
    margin: 50px;
    background-color: rgba(255,250,240,0.5);
}

.main-heading {
    font-size: 4rem;
}

.tagline {
    font-size: 1.5rem;
}


/*=================
 Pricing Components
==================*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 100px;
}

.card {
    width: 300px;
    border-radius: 64px;
    height: 700px;
    background-color: rgb(61, 125, 244);
    margin-bottom: 20px;
    transition: 1s;
}

.card.selected {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 7px 21px 7px #FFD60A; 
    box-shadow: 0px 7px 21px 7px #FFD60A;
    opacity: 1;
}

.card.unselected {
    opacity: 0.5;
}

.card-heading {
    font-size: 1.5em;
    margin: 1.5em auto 1em auto;
}

.price {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.price.selected {
    color: #FFD60A;
}

.rate {
    font-size: 1.2em;
}

ul {
    list-style: none;
    margin: 25px 0 50px 25px;
}

li {
    margin-bottom: 10px;
    background: url('./images/tick.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    text-align: left;
}

.card-cat ul,
.card-lion ul {
    margin-bottom: 5.35em;
}

button {
    border: none;
    background: red;
    width: 80%;
    border-radius: 16px;
    height: 48px;
    font-weight: bold;
    background: rgb(255,250,240);
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 1em;
}

button:hover {
    background: rgba(255,250,240, 0.5);
    color: rgb(255,250,240);
}

.animal-container {
    width: 100%;
    height: 209px;
    background: rgba(255,250,240,0.5);
}

#kitten {
    width: 90%;
    margin-top: 50px;
    margin-left: -10%; 
}

#lion {
    width: 100%;
    margin-top: -5px;
}

#tiger {
    margin-top: 25px;
    width: 41%;
}


@media (min-width: 1024px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        width: 1000px;
        margin: 0 auto;
    }
}

